
@{
    ViewData["Title"] = "URAP";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Green Metric
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">Green Metric</h2>
        <br />
        <img src="https://i.hizliresim.com/oq7wo0v.jpg" id="urapresim" />
        <br /><br />
        <p>
            Endonezya Üniversitesi tarafından hazırlanan GreenMetric Endeksi’nde üniversiteler; çevre düzenlemesi, enerji, iklim değişikliği, atık, su, ulaşım, eğitim ve karbon ayak izi ölçümleri gibi farklı alanlardaki çeşitli kriterlere göre sıralanmaktadır.
        </p>
        <h5 style="font-weight: 400;">Üniversitemiz GreenMetric Endeksi’nde Yer Alma Başarısını Sürdürüyor</h5>
        <p>
            2020 yılında dünyanın çeşitli ülkelerinden 912 üniversitenin dahil olduğu endekste, 56 Türk üniversitesi yer aldı.  2018 ve 2019 yıllarında da listeye girmeyi başaran Üniversitemiz, 2020 endeksine de adını yazmayı başardı.
        </p>
        <p>
            Sürdürülebilir bir yaşam için katma değerli akademik çalışmaların yanı sıra Temiz Üniversite-Temiz Düzce gibi sosyal sorumluluk faaliyetleriyle de yeşil ve temiz kampüs çalışmalarını sürdüren Üniversitemiz, yaptığı çalışmalarla da uluslararası sıralamalarda adını duyurmaya devam ediyor.
        </p>
        <img src="https://i.hizliresim.com/lculv2i.jpg" id="urapresim2" />
        <br />
        <br />
        <img src="https://i.hizliresim.com/cv605qj.jpg" id="urapresim2" />
        <br />
        <br />


    </div>


</body>
</html>

