
@{
    ViewData["Title"] = "THE";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    THE
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">THE</h2>
        <p>
            Üniversitemiz; uluslararası sıralamalar konusunda önemli bir organizasyon olan Times Higher Education tarafından yayınlanan World University Rankings 2021’de “sanayi geliri” kategorisindeki sıralamasıyla, bölgesel odaklı kalkınma misyonunda istikrarlı gelişimini kanıtladı.
        </p>
        <p>
            Üniversitemiz, ilk kez katıldığı organizasyonda, hem Türkiye hem de çeşitli kategorilerdeki dünya sıralamalarında gelişimini ve yükselişini sürdürdü. 93 ülkeden 1.527 üniversitenin sıralamaya hak kazandığı listede; sanayi gelirinde dünyada 258. sırada yer alma başarısı gösteren Üniversitemiz, diğer kategorilerde de 1000-1500 arasında kendine yer buldu.
        </p>
        <p>
            Üniversitemizden Klinik ve Sağlık Alanlarında da Dünya Sıralamasında Önemli Başarı
        </p>
        <p>
            Üniversitemiz; Times Higher Education (THE) tarafından yayınlanan World University Rankings 2021’de, “klinik ve sağlık” alanlarındaki sıralamada da yine önemli bir başarının sahibi oldu.
        </p>
        <p>
            Klinik ve sağlık alanlarında Times Higher Education tarafından ilan edilen dünya genelindeki sıralamada Üniversitemiz,  600-700’lük dilimde yer alma başarısı gösterdi.
        </p>
        <p>
            Çevre ve sağlık alanlarında ihtisaslaşan, özellikle de geleneksel ve tamamlayıcı tıp konularında uzmanlaşan Üniversitemizin bu başarısında,  Tıp ve Sağlık Bilimleri Fakültelerimiz ile Üniversitemiz Hastanesi'nin de önemli katkıları bulunuyor.
        </p>
        <p>
            Üniversitemizden Gelişen Ekonomilerin Sıralandığı Uluslararası Sıralamada Yer Alma Başarısı
        </p>
        <p>
            Üniversitemiz; Times Higher Education tarafından yayınlanan Emerging Economies Rankings 2021’de (Gelişen Ekonomiler Sıralaması) yine önemli bir başarı elde etti.
        </p>
        <p>
            Gelişen ekonomilerin ve dünya üniversitelerinin çeşitli kategorilere göre sıralandığı listedeki ülke sıralamasında Türkiye; Çin, Hindistan, Brezilya ve Rusya'nın ardından beşinci sırada yer aldı. Üniversitemiz, Ülkemizden 43 üniversitenin yer alabildiği listeye girme başarısı göstererek 401-500 arasında yer buldu.
        </p>
        <p>
            Üniversitemiz; bilimsel araştırmaları, ihtisaslaşma çalışmaları, katma değerli projeleri, sürdürülebilir kalkınmaya katkıları ve sosyal sorumluluk faaliyetleri ile yaşama dokunan bir üniversite olarak uluslararası sıralamalardaki istikrarlı yükselişini sürdürmektedir.
        </p>
        <p>
            <a href="https://www.timeshighereducation.com/world-university-rankings/2021/world-ranking#!/page/0/length/-1/sort_by/stats_female_male_ratio/sort_order/asc/cols/stats" target="_blank" id="siralamalarlink">
                Dünya Geneli Sıralaması
            </a>
        </p>
        <p>
            <a href="https://www.timeshighereducation.com/world-university-rankings/duzce-university" target="_blank" id="siralamalarlink">
                Düzce Üniversitesi THE Sayfası
            </a>
        </p>
        <p>
            <a href="https://www.timeshighereducation.com/world-university-rankings/2021/emerging-economies-university-rankings#!/page/0/length/-1/sort_by/rank/sort_order/asc/cols/stats" target="_blank" id="siralamalarlink">
                Gelişen Ekonomiler Üniversite Sıralaması
            </a>
        </p>
        <br /><br />
       
        <img src="https://i.hizliresim.com/tg5n0qy.png" id="urapresim2" />
        <br />
        <br />


    </div>


</body>
</html>

