
@{
    ViewData["Title"] = "URAP";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    URAP
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">URAP</h2>
        <p>
            URAP (University Ranking by Academic Performance) Araştırma Laboratuvarı; 2009 yılında ODTÜ Enformatik Enstitüsü bünyesinde Türk ve Dünya üniversitelerini akademik performanslarına göre sıralamak amacıyla kurulmuştur.
        </p>
        <p>
            URAP sıralamasının temeli; bilimsel üretkenlik ve akademik ürünlerin kalitesidir. Bu yıl, üniversiteler arasında en fazla bilimsel makale yayımlamış olan 3000 üniversite belirlenmiş ve URAP göstergelerine göre puanlanıp sıralanmıştır. En yüksek puanı alan 3000 üniversite açıklanırken Çin Bilimler Akademisi ve Rusya Bilimler Akademisi gibi devlet araştırma kurumları ve hastaneler sıralama dışında bırakılmıştır. URAP’ın dünya sıralamasında yer alan 3000 yükseköğretim kurumu, dünyadaki yükseköğretim kurumlarının yaklaşık %15’ini temsil etmektedir. URAP Dünya Sıralaması, tamamen açık ve güvenilir bilgi kaynaklarından toplanan objektif verilere dayanılarak oluşturulmaktadır.
        </p>
        <img src="https://i.hizliresim.com/jtmgxzv.jpg"  id="urapresim" />
        <br />
        <p>
            ODTÜ Enformatik Enstitüsü bünyesinde yer alan University Ranking by Academic Performance (URAP) Araştırma Laboratuvarı tarafından yayınlanan 2020-2021 Türkiye Sıralamaları’nda Üniversitemiz, Devlet Üniversiteleri Sıralaması’nda yine ilk 50 içerisinde yer alma başarısı gösterdi.
        </p>
        <p>
            Makale, atıf, toplam bilimsel doküman sayısı, doktora mezun sayısı, öğretim üyesi başına düşen öğrenci sayısı göstergelerine göre hazırlanan sıralamalarda Üniversitemiz; 2006 yılından sonra kurulan üniversiteler arasında Ankara Yıldırım Beyazıt Üniversitesi, İzmir Katip Çelebi Üniversitesi ve İstanbul Medeniyet Üniversitesi’ni takiben 4. sırada yer alan devlet üniversitesi olarak üç büyük şehir dışında listede ilk yer alan Üniversite oldu. Ayrıca 2006 yılında kurulan üniversiteler arasında ise yine birinciliğini korudu.
        </p>
        <p>
            URAP Dünya Sıralaması’nda ise son üç yıldır ilk 2.000 üniversite içerisinde yer alma başarısı gösteren Üniversitemiz, uluslararası sıralamalarda da başarı çıtasını daha da yükseltmek için çalışmalarını sürdürüyor.
        </p>
        <img src="https://i.hizliresim.com/fv6nb2x.jpg" id="urapresim2" />
        <br />
        <br />
        <img src="https://i.hizliresim.com/bc933kk.jpg" id="urapresim2" />
        <br />
        <br />
        <img src="https://i.hizliresim.com/mj9vdhe.jpg" id="urapresim2" />
        <br />


    </div>


</body>
</html>

