
@{
    ViewData["Title"] = "Kuruluş";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Kuruluş
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">Kuruluş</h2>
        <p>
            Düzce Üniversitesi’nin temelleri, 1976 yılında İstanbul Teknik Üniversitesi Sakarya Mühendislik Fakültesi’ne bağlı olarak Düzce Meslek Yüksekokulu’nun açılışına kadar dayanmaktadır.
        </p>
        <p>
            1992 yılında Bolu Abant İzzet Baysal Üniversitesi’nin kurulması ile farklı bir boyuta dönüşen Düzce Üniversitesi’nin üniversiteleşme süreci; Düzce Meslek Yüksekokulu’nun dışında Orman Fakültesi, Teknik Eğitim Fakültesi, Tıp Fakültesi,  Sağlık Yüksekokulu, Akçakoca Turizm İşletmeciliği ve Otelcilik Yüksekokulu ile Akçakoca Meslek Yüksekokulu’nun bu üniversiteye bağlı olarak açılmasıyla birlikte daha da hızlanmıştır. Sonrasında 17 Mart 2006 tarih ve 26111 sayılı Resmi Gazete'de yayınlanan 5467 sayılı yasa ile Abant İzzet Baysal Üniversitesi’nden ayrılarak kuruluşu gerçekleştirilen Düzce Üniversitesi, değer üretme felsefesi ile eğitim-öğretim faaliyetlerine başlamıştır.
        </p>
        <p>
            İlk kurulduğu yıllarda 3 fakültesi ve 5700 öğrencisi olan Düzce Üniversitesi; bugün 30 bini aşkın öğrencisi, 12 Fakültesi, 4 Enstitüsü, 2 Yüksekokulu, 10 Meslek Yüksekokulu, 30’dan fazla araştırma merkezi, Teknopark’ı, Araştırma ve Uygulama Hastanesi ile saygın ve tercih edilen bir yükseköğretim kurumu olarak dikkat çekmektedir.
        </p>
        <p>
            Kurulduğu 17 Mart 2006 tarihinden günümüze değer üretme felsefesi ışığında; bilimsel araştırmaları, katma değerli çalışmaları, bölgesel kalkınmaya katkıları ile bir fidandan bir çınara dönüşen Düzce Üniversitesi, girişimci, yenilikçi ve şeffaf yönetim kültürü ile faaliyetlerini başarıyla sürdürmektedir.
        </p>
        <p>
            Toplum için bilim anlayışını ilke edinen Düzce Üniversitesi, modern eğitim programları, teknolojik imkânları, nitelikli ve donanımlı akademik kadrosuyla yeni değerler üretmeye azimle devam etmektedir.
        </p>
        <br /><br />

    </div>


</body>
</html>

