
@{
    ViewData["Title"] = "Beslenme Hizmetleri";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Beslenme Hizmetleri
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">Beslenme Hizmetleri</h2>
        <p>
            Beslenme, büyüme, gelişme ve sağlık için gerekli olan besin ve besin ögelerinin vücuda alınmasıdır. Yeterli-dengeli beslenme ise bu ögeleri içeren gıdaların sağlığın gelişmesi ve korunması için bilimin belirlediği ve önerdiği miktarlarda tüketilmesidir. Tek başına hiçbir gıda diğerlerinin yerini tutamaz ve vücudun ihtiyacı olan besin ögelerinin tümünü karşılamaz. Tek yönlü, uzun süre eksik veya fazla beslenmek, uzman kişiler tarafından yazılmayan sağlıksız diyetleri uygulamak, sağlığı doğrudan veya dolaylı etkileyerek hayatın herhangi bir döneminde vitamin-mineral yetersizliklerinden, geri dönüşü olmayan sağlık sorunlarına kadar birçok alanda karşınıza çıkabilir, sizi bedenen ve ruhen olumsuz etkileyebilir.
        </p>
        <p>
            Birimimize bağlı çalışan gıda mühendisleri yemek hizmetinin sağlıklı ve kaliteli olarak verilmesini sağlamak, beslenme konusunda bilgi sahibi olmak isteyen öğrenci ve personelimize danışmanlık hizmeti vermek amacıyla görev yapmaktadırlar.
        </p>
        <p>
            Yemeklerimiz, Üniversitemiz Konuralp Yerleşkesi Sosyal Tesis Binasında bulunan mutfağımızda temizlik/hijyen kurallarına dikkat edilerek hazırlanmakta ve Fakülte/Yüksekokullarda bulunan yemekhanelerimizde sunulmaktadır. Ayrıca Akçakoca Yerleşkesinde bulunan mutfağımızda da aynı koşullarda temizlik/hijyen kurallarına dikkat edilerek yemeklerimiz hazırlanmakta öğrenci ve personelimizin hizmetine sunulmaktadır.
        </p>
        <p>
            Yemeklerimiz öğrencilerimizin ve personelimizin bir öğünde almaları gereken enerji ve makro besin ögeleri hesaplanarak, yeterli ve dengeli olacak şekilde 1 (bir) aylık menüler halinde gıda mühendislerimiz kontrolünde belirlenir.
        </p>
        <p>
            Mutfağımız pişirme sonrası, yemekhanelerimiz ise servis sonrası temizlenmektedir. Mutfak ve yemekhanelerimiz her ay düzenli olarak ilaçlanmaktadır.
        </p>
        <p>
            Mutfak ve yemekhanelerimizde çalışan personelin (aşçı, garson, bulaşıkçı vb.) bulaşıcı hastalık taşıyıp taşımadıkları düzenli olarak yapılan portör muayeneleri ile takip edilmektedir.
        </p>

        <h5 style="font-weight: 400;">Yemek Saatlerimiz:</h5> Normal Öğretim: 11:30-14:30 İkinci Öğretim: 15:30 - 18:30
        <p>
            -Mutfak ve yemekhanelerimizle ilgili her türlü görüş ve öneri titizlikle değerlendirilmektedir.
        </p>
        <br />
        <div class="table-responsive">
            <table class="table table-hover table-sm table-bordered" style="width:600px">
                <thead>

                    <tr>
                        <td style="width: 547px;" colspan="2" height="20">
                            <strong>
                                Üniversitemizde Yemek Ücretleri
                            </strong>
                        </td>
                    </tr>
                </thead>


                <tbody>

                    <tr>
                        <td style="width:466px">
                            Öğrenciler için
                        </td>
                        <td style="width:69px">
                            4,00 TL
                        </td>
                    </tr>
                    <tr>
                        <td style="width:466px">
                            Ek göstergesiz ile 2200'e kadar (2200 hariç)
                        </td>
                        <td style="width:69px">
                            7,75 TL
                        </td>
                    </tr>
                    <tr>
                        <td style="width:466px">
                            2200-3600'a kadar (3600 hariç) ek göstergeli görevlerde bulunanlar
                        </td>
                        <td style="width:69px">
                            8,25 TL
                        </td>
                    </tr>
                    <tr>
                        <td style="width:466px">
                            3600-4800'e kadar (4800 hariç)  ek göstergeli görevlerde bulunanlar
                        </td>
                        <td style="width:69px">
                            8,75 TL
                        </td>
                    </tr>
                    <tr>
                        <td style="width:466px">
                            4800 ve daha yüksek ek göstergeli görevde bulunanlar
                        </td>
                        <td style="width:69px">
                            10,50 TL
                        </td>
                    </tr>
                    <tr>
                        <td style="width:466px">
                            Sürekli İşçi
                        </td>
                        <td style="width:69px">
                            15,50 TL
                        </td>
                    </tr>
                    <tr>
                        <td style="width:466px">
                            Misafir
                        </td>
                        <td style="width:69px">
                            15,50 TL
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
        <br />

        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2G-lni_-h0Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


    </div>


</body>
</html>

