
@{
    ViewData["Title"] = "Spor Hizmetleri Birimi";
}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/fotografvevidoegaleri.css?Version=1" />
</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Spor Hizmetleri Birimi
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1"> Spor Hizmetleri Birimi</h2>
        <p>
            Üniversitemizde Spor Hizmetleri, Başkanlığımız tarafından yürütülmektedir. Üniversite Sporları Federasyonu Başkanlığınca düzenlenen spor müsabakaları, Başkanlığımız ile Spor Bilimleri Fakültesi iş birliği ile yürütülmektedir.
        </p>
        <p>
            Spor Hizmetleri Düzce Üniversitesi öğrencilerinin ders dışında kalan zamanlarının değerlendirilmesi, beden ve ruh sağlığının korunması ve dengeli gelişmelerine yardımcı olunması amacıyla spor faaliyetlerini organize etmek, Üniversitemiz Akademik Personel ve İdari Personelin spor hizmetleri ve tesislerden yararlanabilmelerini sağlamaktır.
        </p>
        <ul>
            <li>Başkanlığımızca organizasyonu yapılan, Üniversitemiz Fakülteleri ve Yüksekokulları öğrencileri arasında düzenlenen spor faaliyetleri.</li>
            <li>Üniversite Sporları Federasyonu Başkanlığınca organizasyonu yapılan üniversiteler arası spor faaliyetleri.</li>
            <li>Avrupa Üniversite Sporları Birliğince organizasyonu yapılan Avrupa Üniversiteleri arası spor faaliyetleri.</li>
            <li> Diğer Üniversitelerin düzenledikleri spor faaliyetleri</li>
        </ul>
        <p>Üniversitemiz bünyesinde;</p>
        <ul>
            <li>Kapalı Spor Salonu</li>
            <li>Kondisyon Salonu</li>
            <li>Kapalı Halı Sahası</li>
            <li>Açık Basketbol Sahası</li>
            <li>Kapalı 2 Kortlu Tenis Kortu</li>
            <li>Yarı Olimpik Yüzme Havuzu</li>
        </ul>
        <a href="https://panel.duzce.edu.tr//Dosya/GetFile/69f30b2e-8110-4ee3-8716-7d0d9bb30256" target="_blank" id="butcelink">Kiralama ve Kullanım Ücretleri için TIKLAYINIZ..</a>

        <div class="tab-content">

            <div id="link1" class="container tab-pane  active  m-md-auto">
                <br>
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/halısaha1.png">
                                <img src="~/img/halısaha1.png" height="400px" alt="Park" title="Üniversitemiz Stadyumu">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/halısaha2.png">
                                <img src="~/img/halısaha2.png" height="400px" alt="Bridge" title="Üniversitemiz Stadyumu">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/yüzme1.png">
                                <img src="~/img/yüzme1.png" height="400px" alt="Tunnel" title="Yarı Olimpik Yüzme Havuzu">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/yüzme2.png">
                                <img src="~/img/yüzme2.png" height="400px" alt="Coast" title="Yarı Olimpik Yüzme Havuzu">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/fitnes.png">
                                <img src="~/img/fitnes.png" height="400px" alt="Rails" title="Fitnes Salonu">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/halısahaa.png">
                                <img src="~/img/halısahaa.png" height="400px" alt="Traffic" title="Halı Saha">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/kapalıSporSalonu.png">
                                <img src="~/img/kapalıSporSalonu.png" height="400px" alt="Rocks" title="Kapalı Spor Salonu">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <a class="lightbox" href="~/img/KapalıTenisKortları.png">
                                <img src="~/img/KapalıTenisKortları.png" height="400px" alt="Benches" title="Kapalı Tenis Kortları">
                            </a>
                        </div>


                    </div>

                </div>




            </div>
            <br><br>









        </div>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>

</body>
</html>

