@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model _162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.OrganizasyonSemasi

@{
    ViewData["Title"] = "Organisazyon Şeması Güncelle";
}
<h2>Organisazyon Şeması Güncelle</h2>
<hr />


<form asp-action="Edit" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />

    <div class="form-group">
        <label class="control-label col-md-3">Fakülte</label>
        <div class="col-md-9">
            <select asp-for="FakulteID" class="form-control text-info" asp-items="ViewBag.FakulteID">
                <option value=""> Seçiniz</option>   @* Boş geçebilmek için yaptım *@
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Enstitü</label>
        <div class="col-md-9">
            <select asp-for="EnstituID" class="form-control text-info" asp-items="ViewBag.EnstituID">
                <option value=""> Seçiniz</option>   @* Boş geçebilmek için yaptım *@
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">Resim Url</label>
        <div class="col-md-9">
            <input type="text" asp-for="ResimUrl" class="form-control text-info" />
            <span asp-validation-for="ResimUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-default guncellemebuton" style="margin-left: 5px; border: 2px solid #4db3ff;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                    <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z" />
                </svg>&nbsp; Organisazyon Şeması Güncelle
            </button>
        </div>
    </div>
</form>
<a asp-action="Index" class="btn btn-default fas fa-backward" style="color: green"> Geri Dön</a>
