
@{
    ViewData["Title"] = "Genel Sekreter";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Genel Sekreter
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">Genel Sekreter</h2>,
        <p style="text-align:center;font-weight:600;">
            <a href="https://i.hizliresim.com/32u4uva.jpg" target="_blank">
                <img src="https://i.hizliresim.com/32u4uva.jpg" id="rektorresim" />
            </a>
            <br />
            Hasan Sadi ATEŞ Kimdir?
        </p>
        <p>
            Hasan Sadi ATEŞ, 1968 yılında Yığılca’da doğmuştur. İlk, orta ve lise öğrenimini Düzce’de tamamlamış olup, Anadolu Üniversitesi İktisat Fakültesi’nden mezun olmuştur. 1994 yılında Abant İzzet Baysal Üniversitesi'ne bağlı olan Orman Fakültesi Mali İşler biriminde memur olarak memuriyet hayatına başlamıştır. 2006 yılında Düzce Üniversitesi’nin kurulması itibariyle Üniversitemiz Genel Sekreter Yardımcısı görevini yürütmüştür. 2012 yılından itibaren Üniversitemizin Genel Sekreteri olarak görevine devam etmektedir. Evli ve iki çocuk babasıdır.
        </p>

        <br /><br />

    </div>


</body>
</html>

