
@{
    ViewData["Title"] = "Fikri Mülkiyet";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Fikri Mülkiyet
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">Fikri Mülkiyet</h2>
        <br />
        <p>
            2006-2021 yılları arasında 21 adet “Marka” başvurusu olmuştur. Bu başvurulardan 17 marka tescillenmiştir.
        </p>
        <br />
        <p>
            2006-2021 yılları arasında Düzce Üniversitesi hak sahipliğindeki “Patent/Faydalı Model” için 35 başvuru olmuştur. 2021 yılında 1 adet “Faydalı Model” başvurusunun tescil kararı çıkmıştır (Böcek Toplama Kafes Sistemi). Halihazırda Üniversite hak sahipliğinde olup ticarileşen bir “Patent/Faydalı Model” bulunmamakta olup 1 adet tescillenecek patent için ticarileşme girişimleri devam etmektedir.
        </p>
        <br />
        <p>
            2006-2020 yılları arasında FSMH birimine gelen ve Üniversite hak sahipliğinde olmayan toplam “Buluş Bildirim Formu (BBF)” 62 olup, 35 buluş başvurusu yapılmıştır. Tescillenen patent/faydalı model sayısı 11 olmuştur. Bu dönemde ayrıca 2 adet “Uluslararası Patent Başvurusu” yapılmıştır. 2016-2020 yılları arasında toplam tescillenenlerin Patent/Faydalı Model sayısı ise 51’dir.
        </p>

        <br /><br />
        <br /><br />
        <br /><br />

    </div>


</body>
</html>

