
@{
    ViewData["Title"] = "Proje Sayıları";
}
<html>
<head>

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Proje Sayıları
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">Proje Sayıları</h2>
        <br />
        <p>
            2006-2020 yılları arasında BAP kapsamında yeni başlayan 1231 olmuştur. Bu projelerden 1092’si tamamlanmış, 2020 yılı itibariyle 139 proje devam etmektedir. 2006-2020 yılları arasında Yüksek lisans, Doktora, Sanatta Yeterlilik ve Tıpta Uzmanlık Tez Projeleri kapsamında ise 83 proje başarıyla hayata geçirilmiştir.
        </p>
        <br />
        <p>
            2006-2020 yılları arasında TUBİTAK kapsamında yeni başlayan 85 proje olmuştur. Bu projelerden 77’si tamamlanmış, 2020 yılı itibariyle 8 proje devam etmektedir.
        </p>
        <br />
        <p>
            2006-2020 yılları arasında MARKA kapsamında yeni başlayan 28 proje olmuştur. Bu projelerden 24’ü tamamlanmış, 2020 yılı itibariyle 4 proje devam etmektedir.
        </p>
        <br />
        <p>
            2006-2020 yılları arasında SAN-TEZ kapsamında yeni başlayan 4 proje olmuştur. Bu projelerden 4’ü de tamamlanmıştır.
        </p>
        <br />
        <p>
            2006-2020 yılları arasında AB kapsamında yeni başlayan 39 proje olmuştur. Bu projelerden 35’i tamamlanmış, 2020 yılı itibariyle 4 proje devam etmektedir.
        </p>
        <br />
        <p>
            2006-2020 yılları arasında DPT kapsamında 2010 yılında sadece 1 proje hayata geçirilmiştir.
        </p>
        <br /><br />
        <br /><br />
        <br /><br />

    </div>


</body>
</html>

