@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model _162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.UniversiteIzlemeveDgrRapor

@{
    ViewData["Title"] = "Universite İzleme ve Değerlendirme Raporunu  Silme İşlemi";
}

<h3 style="font-weight:bold">Universite İzleme ve Değerlendirme Raporunu silmek istediğinizden emin misiniz ?</h3>

<div style="margin-left:25px">
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Kriter Kategori
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UniversiteIzlemeveDgrRaporKategori.Kategori)
        </dd>
        <dt class="col-sm-3">
            Kriter
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Kriterler)
        </dd>
        <dt class="col-sm-3">
            Say/Oran
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Say_Oran)
        </dd>

    </dl>
    <form asp-action="Delete" asp-controller="UniversiteIzlemeveDgrRapor">
        <div class="form-actions no-color">
            <a asp-action="Index" asp-controller="UniversiteIzlemeveDgrRapor" class="btn btn-default fa fa-backward detaylamabuton col-sm-2" style="margin-left: 2px; border: 2px solid green;"> Geri Dön</a>
            <input type="hidden" asp-for="ID" />
            <button type="submit" class="btn btn-default fas fa-trash-alt silmebuton col-sm-2" style="margin-left:98px;border: 2px solid red;">&nbsp; Sil</button>
        </div>
    </form>
</div>