
@{
    ViewData["Title"] = "Tanıtım Filmleri/Fotoğraf Galerisi";
}
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/fotografvevidoegaleri.css?Version=1" />
    <link rel="stylesheet" type="text/css" href="~/css/FotografGalerisiIcin.css?Version=1" />

</head>
<body>
    <div class="ustkisim  row">
        <div class="col-sm-6 ">
            <div class="baslik">Düzce Üniversitesi</div>
            <ol class="breadcrumb icerik">
                <li class="breadcrumb-item ">
                    <a href="/" class="icerikilk">Anasayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    Tanıtım Filmleri/Fotoğraf Galerisi
                </li>
            </ol>
        </div>

        <div class="col-sm-6" style="text-align:right">
            <div>&nbsp;</div>
            <i class="fa fa-search"></i>
            <input class="arama" type="text" value="" placeholder="Arama">
        </div>
    </div>
    <div class="container-fluid" id="bodykismi">
        <h2 id="baslik1">Tanıtım Filmleri/Fotoğraf Galerisi</h2>

        <div class="tab-content">
            <div id="link1" class="container tab-pane  active  m-md-auto">
                <br>
                <div class="tz-gallery">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/1.jpg">
                                <img src="~/fotoğraf galerisi/1.jpg" height="600px" alt="Park" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/2.jpg">
                                <img src="~/fotoğraf galerisi/2.jpg" height="600px" alt="Bridge" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/3.jpg">
                                <img src="~/fotoğraf galerisi/3.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/4.jpg">
                                <img src="~/fotoğraf galerisi/4.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/5.jpg">
                                <img src="~/fotoğraf galerisi/5.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/6.jpg">
                                <img src="~/fotoğraf galerisi/6.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/7.jpg">
                                <img src="~/fotoğraf galerisi/7.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/8.jpg">
                                <img src="~/fotoğraf galerisi/8.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/9.jpg">
                                <img src="~/fotoğraf galerisi/9.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/10.jpg">
                                <img src="~/fotoğraf galerisi/10.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/11.jpg">
                                <img src="~/fotoğraf galerisi/11.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/12.jpg">
                                <img src="~/fotoğraf galerisi/12.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/13.jpg">
                                <img src="~/fotoğraf galerisi/13.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/14.jpg">
                                <img src="~/fotoğraf galerisi/14.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/15.jpg">
                                <img src="~/fotoğraf galerisi/15.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/16.jpg">
                                <img src="~/fotoğraf galerisi/16.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/17.jpg">
                                <img src="~/fotoğraf galerisi/17.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/18.jpg">
                                <img src="~/fotoğraf galerisi/18.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/19.jpg">
                                <img src="~/fotoğraf galerisi/19.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/20.jpg">
                                <img src="~/fotoğraf galerisi/20.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/21.jpg">
                                <img src="~/fotoğraf galerisi/21.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/22.jpg">
                                <img src="~/fotoğraf galerisi/22.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/23.jpg">
                                <img src="~/fotoğraf galerisi/23.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/24.jpg">
                                <img src="~/fotoğraf galerisi/24.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/25.jpg">
                                <img src="~/fotoğraf galerisi/25.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/26.jpg">
                                <img src="~/fotoğraf galerisi/26.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/27.jpg">
                                <img src="~/fotoğraf galerisi/27.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/28.jpg">
                                <img src="~/fotoğraf galerisi/28.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/29.jpg">
                                <img src="~/fotoğraf galerisi/29.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/30.jpg">
                                <img src="~/fotoğraf galerisi/30.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/31.jpg">
                                <img src="~/fotoğraf galerisi/31.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/32.jpg">
                                <img src="~/fotoğraf galerisi/32.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/33.jpg">
                                <img src="~/fotoğraf galerisi/33.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/34.jpg">
                                <img src="~/fotoğraf galerisi/34.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/35.jpg">
                                <img src="~/fotoğraf galerisi/35.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/36.jpg">
                                <img src="~/fotoğraf galerisi/36.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/37.jpg">
                                <img src="~/fotoğraf galerisi/37.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/38.jpg">
                                <img src="~/fotoğraf galerisi/38.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/39.jpg">
                                <img src="~/fotoğraf galerisi/39.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/40.jpg">
                                <img src="~/fotoğraf galerisi/40.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/41.jpg">
                                <img src="~/fotoğraf galerisi/41.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/42.jpg">
                                <img src="~/fotoğraf galerisi/42.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/43.jpg">
                                <img src="~/fotoğraf galerisi/43.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/45.jpg">
                                <img src="~/fotoğraf galerisi/45.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/46.jpg">
                                <img src="~/fotoğraf galerisi/46.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/47.jpg">
                                <img src="~/fotoğraf galerisi/47.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/48.jpg">
                                <img src="~/fotoğraf galerisi/48.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/49.jpg">
                                <img src="~/fotoğraf galerisi/49.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/50.jpg">
                                <img src="~/fotoğraf galerisi/50.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/51.jpg">
                                <img src="~/fotoğraf galerisi/51.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/52.jpg">
                                <img src="~/fotoğraf galerisi/52.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/53.jpg">
                                <img src="~/fotoğraf galerisi/53.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/54.jpg">
                                <img src="~/fotoğraf galerisi/54.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/55.jpg">
                                <img src="~/fotoğraf galerisi/55.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/56.jpg">
                                <img src="~/fotoğraf galerisi/56.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/57.jpg">
                                <img src="~/fotoğraf galerisi/57.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/59.jpg">
                                <img src="~/fotoğraf galerisi/59.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/61.jpg">
                                <img src="~/fotoğraf galerisi/61.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/62.jpg">
                                <img src="~/fotoğraf galerisi/62.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/63.jpg">
                                <img src="~/fotoğraf galerisi/63.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/64.jpg">
                                <img src="~/fotoğraf galerisi/64.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/65.jpg">
                                <img src="~/fotoğraf galerisi/65.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/66.jpg">
                                <img src="~/fotoğraf galerisi/66.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/67.jpg">
                                <img src="~/fotoğraf galerisi/67.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/68.jpg">
                                <img src="~/fotoğraf galerisi/68.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/69.jpg">
                                <img src="~/fotoğraf galerisi/69.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/70.jpg">
                                <img src="~/fotoğraf galerisi/70.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/71.jpg">
                                <img src="~/fotoğraf galerisi/71.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/72.jpg">
                                <img src="~/fotoğraf galerisi/72.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/73.jpg">
                                <img src="~/fotoğraf galerisi/73.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/74.jpg">
                                <img src="~/fotoğraf galerisi/74.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/75.jpg">
                                <img src="~/fotoğraf galerisi/75.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/76.jpg">
                                <img src="~/fotoğraf galerisi/76.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/77.jpg">
                                <img src="~/fotoğraf galerisi/77.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/78.jpg">
                                <img src="~/fotoğraf galerisi/78.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/79.jpg">
                                <img src="~/fotoğraf galerisi/79.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/80.jpg">
                                <img src="~/fotoğraf galerisi/80.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/81.jpg">
                                <img src="~/fotoğraf galerisi/81.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/82.jpg">
                                <img src="~/fotoğraf galerisi/82.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/83.jpg">
                                <img src="~/fotoğraf galerisi/83.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/84.jpg">
                                <img src="~/fotoğraf galerisi/84.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/85.jpg">
                                <img src="~/fotoğraf galerisi/85.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/86.jpg">
                                <img src="~/fotoğraf galerisi/86.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/87.jpg">
                                <img src="~/fotoğraf galerisi/87.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/88.jpg">
                                <img src="~/fotoğraf galerisi/88.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/89.jpg">
                                <img src="~/fotoğraf galerisi/89.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/90.jpg">
                                <img src="~/fotoğraf galerisi/90.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/91.jpg">
                                <img src="~/fotoğraf galerisi/91.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/92.jpg">
                                <img src="~/fotoğraf galerisi/92.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/93.jpg">
                                <img src="~/fotoğraf galerisi/93.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/94.jpg">
                                <img src="~/fotoğraf galerisi/94.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/95.jpg">
                                <img src="~/fotoğraf galerisi/95.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/96.jpg">
                                <img src="~/fotoğraf galerisi/96.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <a class="lightbox" href="~/fotoğraf galerisi/98.jpg">
                                <img src="~/fotoğraf galerisi/98.jpg" height="600px" alt="Tunnel" title="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>
</html>

