@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model _162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.YonetimKategori

@{
    ViewData["Title"] = "Yönetim Kategori Ekleme";
}

<br />
<h2>Kategori Ekle</h2>
<hr />

<form asp-action="Create" asp-controller="YonetimKategori" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="control-label col-md-3">Görevi</label>
        <div class="col-md-9">
            <input type="text" asp-for="Gorevi" class="form-control text-info" />
            <span asp-validation-for="Gorevi" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-default guncellemebuton" style="margin-left: 5px; border: 2px solid #4db3ff;">
                <span class='fa-stack fa-lg'>
                    <i class='fas fa-circle fa-stack-2x' style="color:red"></i>
                    <i class='fas fa-list fa-stack-1x fa-inverse'></i>
                </span> Kategori Ekle
            </button>
        </div>
    </div>

</form>

<a asp-action="Index" asp-controller="YonetimKategori" class="btn btn-default fas fa-backward" style="color: green"> Geri Dön</a>