@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* Kendi oluşturdup-ğum TagHelper *@
@model IEnumerable<_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.KurullarVeKomisyonlar>
@{
    var fakulte = (_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.Fakulte)ViewBag.Fakulteler;
    var bolumler = (_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.Bolum)ViewBag.Bolumler;
}
@* burasıı fakultelerin genel bilgileri sayfası  *@
<html>
<head>

</head>
<body>

    <h2 id="genelbilgilerbaslik1">Kurullar ve Komisyonlar</h2>

    @foreach (var item in Model)
    {
        <p>
            <a href="@item.Link" target="_blank" id="butcelink">@item.Aciklama </a>
        </p>

    }



</body>
</html>