@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.OrganizasyonSemasi>
@{
    var fakulte = (_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.Fakulte)ViewBag.Fakulteler;
    var bolumler = (_162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.Bolum)ViewBag.Bolumler;
}
@* burasıı fakultelerin genel bilgileri sayfası  *@
<html>
<head>

</head>
<body>

    <h2 id="genelbilgilerbaslik1">
        Organizasyon Şeması
    </h2>
    <br />
    <br />

    @foreach (var item in Model)
    {

        <h5 style="font-weight: 600;text-align:center">
            YÖNETİM ŞEMASI
        </h5>
        <p style="text-align:center">
            <a href="@Html.DisplayFor(modelItem=>item.ResimUrl)" target="_blank">
                <img src="@Html.DisplayFor(modelItem=>item.ResimUrl)" style="text-align:center;" id="rektorresim"/>
            </a>
        </p>
    }



    <br />



</body>
</html>