@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model _162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.DersProgramlariKategori

@{
    ViewData["Title"] = "Ders Programları için Kategori Ekle";
}

<br />
<h2>Ders Programları için Kategori Ekle</h2>
<hr />
<form asp-action="Create" asp-controller="DersProgramlariKategori" method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label class="control-label col-md-3">
            Program Türü
        </label>
        <div class="col-md-9">
            <input type="text" asp-for="Kategori" class="form-control text-info" />
            <span asp-validation-for="Kategori" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-default guncellemebuton" style="margin-left: 5px; border: 2px solid #4db3ff;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                    <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z" />
                </svg>&nbsp; Ders Programları için Kategori Ekle
            </button>
        </div>
    </div>
</form>

<a asp-action="Index" asp-controller="DersProgramlariKategori" class="btn btn-default fas fa-backward" style="color: green"> Geri Dön</a>