@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model _162120012_AliSARI_DuzceUniversitesi_WebSitesi.Models.Fakulte

@{
    ViewData["Title"] = "Fakülte Detay";
}

<h2>Fakülte Detayı</h2>
<hr />

<div>
    <dl class="row">
        <dt class="col-sm-3">
            Fakülte Adı
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FakulteAdi)
        </dd>
    </dl>
</div>
<br />
<p style="margin-left:55px;">
    <a asp-action="Index" asp-controller="Fakulte" class="btn btn-default fa fa-backward detaylamabuton" style="margin-left: 5px; border: 2px solid #39ded8;"> Geri Dön</a>
    <a asp-action="Edit" asp-route-id="@Model.ID" class=" btn btn-default fas fa-edit guncellemebuton" style="margin-left: 140px; border: 2px solid #4db3ff;">Güncelle</a>
</p>

<style>
    .col-sm-3 {
        margin-bottom: 10px;
        margin-left: 8px
    }

    .col-sm-8 {
        margin-bottom: 10px;
    }
</style>
